<div class = "container scaleable-wrapper" id = "scaleable-wrapper">
  <div class = "very-specific-design" id = "very-specific-design">
    <h1 class = "welcome-text">Hello, welcome to my web portfolio!</h1>
    <p>please have a look around...you can start by picking your favorite flavor:</p>
    <img class = "ice-cream-cart" src = "./assets/images/ice-cream-cart.png" alt = "ice cream cart"/>
    <button class = "btn flavor">Code Projects</button>
    <button class = "btn flavor">Resume</button>
    <button class = "btn flavor">Creative Collection</button>
    <button class = "btn flavor">Backstory</button>
  </div>
</div>
