.ice-cream-container {
  position: relative;
  width: 100%;
  height: auto;
}

.ice-cream-cart {
  block-size: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: .5rem;
}

.btn-sq-xs {
  font-size: 8px;
  text-align: center;
  width: 3rem;
  height: 3rem;
}

#btn-resume-xs {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(50%, -60%);
}

#btn-code-projects-xs {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(60%, -60%);
}

#btn-creative-collection-xs {
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(70%, -60%);
}

#btn-backstory-xs {
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(80%, -60%);
}

.flavor {
  background-color: hotpink;
  color: lightcyan;
  cursor: pointer;
  padding: 1.25%;
  margin: 1%;
}

.flavor:hover {
  background-color: blueviolet;
}
