<div class = "try-me">
  <p>Try Me  ^</p>
</div>

<div class = "container">
    <h1 class = "welcome-text">Hello, welcome to my web portfolio!</h1>
    <p>please have a look around...you can start by picking your favorite flavor:</p>
  <div class = "ice-cream-container">
    <img class = "ice-cream-cart" src = "./assets/images/ice-cream-cart.png" alt = "ice cream cart"/>
<!--    for xs containers-->
    <div class = "container-xs container-sm d-block d-sm-block d-sm-none">
      <a href = "/code-projects"><button class = "btn-sq-xs flavor" id = "btn-code-projects-xs">Code Projects</button></a>
      <a href = "/resume"><button class = "btn-sq-xs flavor" id = "btn-resume-xs">Resume</button></a>
      <a href = "/creative-collection"><button class = "btn-sq-xs flavor" id = "btn-creative-collection-xs">Creative Collection</button></a>
      <a href = "/about"><button class = "btn-sq-xs flavor" id = "btn-about-xs">About</button></a>
    </div>
<!--    end xs containers-->
<!--    for sm containers-->
    <div class = "container-sm d-none d-sm-block d-md-none">
      <a href = "/code-projects"><button class = "btn-sq-sm flavor" id = "btn-code-projects-sm">Code Projects</button></a>
      <a href = "/resume"><button class = "btn-sq-sm flavor" id = "btn-resume-sm">Resume</button></a>
      <a href = "/creative-collection"><button class = "btn-sq-sm flavor" id = "btn-creative-collection-sm">Creative Collection</button></a>
      <a href = "/about"><button class = "btn-sq-sm flavor" id = "btn-about-sm">About</button></a>
    </div>
<!--    end sm containers-->
<!--    for md containers-->
    <div class = "container-md d-none d-md-block d-lg-none">
      <a href = "/code-projects"><button class = "btn-sq-md flavor" id = "btn-code-projects-md">Code Projects</button></a>
      <a href = "/resume"><button class = "btn-sq-md flavor" id = "btn-resume-md">Resume</button></a>
      <a href = "/creative-collection"><button class = "btn-sq-md flavor" id = "btn-creative-collection-md">Creative Collection</button></a>
      <a href = "/about"><button class = "btn-sq-md flavor" id = "btn-about-md">About</button></a>
    </div>
<!--    end md containers-->
<!--    for lg containers-->
    <div class = "container-lg d-none d-lg-block d-xl-none">
      <a href = "/code-projects"><button class = "btn-sq-lg flavor" id = "btn-code-projects-lg">Code Projects</button></a>
      <a href = "/resume"><button class = "btn-sq-lg flavor" id = "btn-resume-lg">Resume</button></a>
      <a href = "/creative-collection"><button class = "btn-sq-lg flavor" id = "btn-creative-collection-lg">Creative Collection</button></a>
      <a href = "/about"><button class = "btn-sq-lg flavor" id = "btn-about-lg">About</button></a>
    </div>
<!--    end lg containers-->
<!--    for xl containers-->
    <div class = "container-xl d-none d-xl-block d-xxl-none">
      <a href = "/code-projects"><button class = "btn-sq-xl flavor" id = "btn-code-projects-xl">Code Projects</button></a>
      <a href = "/resume"><button class = "btn-sq-xl flavor" id = "btn-resume-xl">Resume</button></a>
      <a href = "/creative-collection"><button class = "btn-sq-xl flavor" id = "btn-creative-collection-xl">Creative Collection</button></a>
      <a href = "/about"><button class = "btn-sq-xl flavor" id = "btn-about-xl">About</button></a>
    </div>
<!--    end xl containers-->
<!--    for xxl containers-->
    <div class = "container-xxl d-none d-xxl-block">
      <a href = "/code-projects"><button class = "btn-sq-xxl flavor" id = "btn-code-projects-xxl">Code Projects</button></a>
      <a href = "/resume"><button class = "btn-sq-xxl flavor" id = "btn-resume-xxl">Resume</button></a>
      <a href = "/creative-collection"><button class = "btn-sq-xxl flavor" id = "btn-creative-collection-xxl">Creative Collection</button></a>
      <a href = "/about"><button class = "btn-sq-xxl flavor" id = "btn-about-xxl">About</button></a>
    </div>
<!--    end xxl containers-->
  </div>
</div>
