<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">Ashley Robbins </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 collapse navbar-collapse">
        <ng-container *ngFor = "let navItem of leftNavigationItems">
          <li class = "nav-item" *ngIf = "!navItem.children || navItem.children.length === 0">
            <a  class = "nav-link"
                [routerLink]="navItem.routerLink"
                routerLinkActive="active-link">
              {{ navItem.name }}
            </a>
          </li>

          <li mdbDropdown class="nav-item dropdown" *ngIf="navItem.children && navItem.children.length > 0">
            <a  class = "nav-link dropdown-toggle"
                [routerLink] = "navItem.routerLink"
                routerLinkActive="active-link"
                [id] = "navItem.id"
                role = "button"
                mdbDropdownToggle

                aria-expanded = "false" >
              {{ navItem.name }}
            </a>
            <ul mdbDropdownMenu class = "dropdown-menu" [attr.aria-labelledby] = "navItem.id">
              <li class = "nav-item" *ngFor = "let childNavItem of navItem.children">
                <a  class = "dropdown-item"
                    [routerLink]= "childNavItem.routerLink"
                    routerLinkActive="active-link">
                  {{ childNavItem.name }}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>

      <ul class = "navbar-nav me-auto mb2 mb-lg-0">
        <li class = "nav-item">
          <a class = "nav-link active" aria-current="page" href="https://www.linkedin.com/in/ashley-robbins-094878191/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class = "nav-item">
          <a class = "nav-link active" aria-current="page" href="https://github.com/a-a-robbins" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>

        <audio id="audio">
          <source src="../../assets/ice-cream-truck-audio.mp3" type="audio/mpeg">
        </audio>

        <button (click)="playAudio()" type="button">
          <li class = "nav-item">
            <a class = "audio-text nav-link active" aria-current="page">
              <i class="audio fa-solid fa-play"></i>
            </a>
          </li>
        </button>

        <button (click)="pauseAudio()" type="button">
          <li class = "nav-item">
            <a class = "audio-text nav-link active" aria-current="page">
              <i class="audio fa-solid fa-pause"></i>
            </a>
          </li>
        </button>

      </ul>
    </div>
  </div>
</nav>

