<main>
  <h1 class = "text-center page-title">Code Projects</h1>

<div class = "container code-projects-gallery">
  <div class="row">
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <img
        src="./assets/images/coming-soon.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coming soon"
      />
      <div class = "project">
        <h4 class = "project-title text-center">Project Title</h4>
        <p class = "project-description justify">some text abou this project...is there something that can make this multiline more
          easily---like
          make it more legible and readable?</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <img
        src="./assets/images/coming-soon.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coming soon"
      />
      <div class = "project">
        <h4 class = "project-title text-center">Project Title</h4>
        <p class = "project-description justify">some text abou this project...is there something that can make this multiline more
          easily---like
          make it more legible and readable?</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <img
        src="./assets/images/coming-soon.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coming soon"
      />
      <div class = "project">
        <h4 class = "project-title text-center">Project Title</h4>
        <p class = "project-description justify">some text abou this project...is there something that can make this multiline more
          easily---like
          make it more legible and readable?</p>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <img
        src="./assets/images/coming-soon.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coming soon"
      />
      <div class = "project">
        <h4 class = "project-title text-center">Project Title</h4>
        <p class = "project-description justify">some text abou this project...is there something that can make this multiline more
          easily---like
          make it more legible and readable?</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <img
        src="./assets/images/coming-soon.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coming soon"
      />
      <div class = "project">
        <h4 class = "project-title text-center">Project Title</h4>
        <p class = "project-description justify">some text abou this project...is there something that can make this multiline more
          easily---like
          make it more legible and readable?</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <img
        src="./assets/images/coming-soon.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="coming soon"
      />
      <div class = "project">
        <h4 class = "project-title text-center">Project Title</h4>
        <p class = "project-description justify">some text abou this project...is there something that can make this multiline more
          easily---like
          make it more legible and readable?</p>
      </div>
    </div>
  </div>
</div>

</main>
