main {
  background-color: darkslateblue;
}

h2 {
  color: lightcyan;
}

h4 {
  color: hotpink;
}

p {
  color: ivory;
}

ul {
  color: ivory;
  padding: 1rem;
}

.skills {
  border: lightcyan solid 2px;
  @media screen and (max-width: 768px) {
    border: none;
  }
}

.hr {
  border: lightcyan solid 1px;
}
