main {
  background-color: darkslateblue;
}

h4 {
  color: lightgrey;
}

.skills {
  border: lightgrey solid 2px;
  @media screen and (max-width: 768px) {
    border: none;
  }
}

.hr {
  border: lightgrey solid 1px;
}
