<header>
  <app-navbar></app-navbar>
</header>

<main>
  <!--  Title-->
  <h1 class = "text-center page-title">Resume</h1>
  <!--  Title-->

  <div class="container resume-content">
    <div class="row">
      <div class="col-md-8">
        <div class = "education">
          <h2>BA CS</h2>
          <p>Central College 2023</p>
          <h2>AA Human & Social Science</h2>
          <p>SUNY Jefferson 2013?</p>
        </div>
        <hr class = "hr"/>
        <div class = "experience">
          <h2>Job 1</h2>
          <h4>Stuff</h4>
          <p>specifics</p>
          <h2>Job 2</h2>
          <h4>Stuff</h4>
          <p>specifics</p>
        </div>
        <hr class = "hr" />
        <div class = "volunteer">
          <h2>PBJJ</h2>
          <h4>Instructor, CTO | 2021 - present</h4>
          <p>stuff</p>
          <h2>SD Computers 2 Kids</h2>
          <h4>Refurbishment Assistant</h4>
          <p>stuff</p>
        </div>      </div>
      <div class="col-md-4 skills">
        <h4>download resume here!</h4>
        <hr class = "hr" />
        <br>
        <h2 class = "text-center skills-title">Skills</h2>
      </div>
    </div>
  </div>

</main>

<footer>

</footer>
