main {
  background-color: darkslateblue;
}

ul {
  color: white;
  padding: 1rem;
}

.skills {
  border: papayawhip solid 2px;
  @media screen and (max-width: 768px) {
    border: none;
  }
}

.hr {
  border: papayawhip solid 1px;
}
