
<main>
  <h1 class = "text-center page-title">Resume</h1>

  <div class="container resume-content">
    <body class="container-lg py-3 justify-content-center">
      <div class="header text-center border-bottom border-secondary">
          <h1 class="name fw-bold fs-5 mb-1">Ashley Robbins</h1>
          <p class="title fst-italic fs-7">Software Engineer</p>
      </div>
      <div class="row mt-1 ">
          <div class="col-md-8 border-end border-secondary fs-8">
            <p class="py-1">
                Enthusiastic Software Engineer with 3+ years of experience designing scalable web applications and
                cloud infrastructure. Skilled in Angular, C#, Azure, and CI/CD, with a strong focus on mentoring,
                teamwork, and delivering impactful technology solutions in collaborative environments.
            </p>
                        <p class="fw-bold">PROFESSIONAL EXPERIENCE</p>
            <p class="fw-bold mb-0">Software Engineer I</p>
            <p class="fst-italic mb-1">Vermeer Corporation — Remote | May 2023 – Present</p>
            <ul>
                <li class="mb-1">
                    Develop and maintain fullstack applications for internal and external users which includes managing
                    data for users, implementing OAuth, and ensuring consistent user experience across pages
                </li>
                <li class="mb-1">
                    Mentored interns through pair programming and TDD, earning recognition for clear technical communication and supportive coaching on real-world engineering tasks.
                </li>
                <li class="mb-1">
                    Helped establish Lead Engineer role to improve collaboration between Product and Engineering teams.
                    Led three feature projects, enhancing technical planning and helping foster team buy-in.
                </li>
                <li class="mb-1">
                    Collaborated with internal teams to deliver a registration feature that reduced dealer onboarding from weeks to under an hour in most cases.
                </li>
            </ul>

            <p class="fw-bold mb-0">Platform Engineer Intern</p>
            <p class="fst-italic mb-1">Vermeer Corporation — Remote | May 2021 - May 2023</p>
            <ul>
                <li class="mb-1">
                    Maintained Azure/Terraform infrastructure and GitHub Actions pipelines for ~10 development teams.
                </li>
                <li class="mb-1">
                    Created Next.js/React communication hub to serve as a place for software engineers to collect their resources in a single spot for easy access and sharing.
                </li>
                <li class="mb-1">
                    Automated operational tracking by adding iTop ticket creation to the CI/CD pipeline.
                </li>
            </ul>

            <p class="fw-bold mb-0">Student Developer Assistant</p>
            <p class="fst-italic mb-1">Central College Communications — Pella, IA | Sep 2021 - May 2023</p>
            <ul>
                <li class="mb-1">
                    Led responsive redesign of college website using HTML, CSS, and Bootstrap, improving UX and visual
                    consistency during full rebrand.
                </li>
                <li class="mb-1">
                    Curated shareable news posts about alumni, staff, and students that were featured by external news
                    outlets.
                </li>
            </ul>

            <p class="fw-bold">COMMUNITY CONTRIBUTIONS & PROJECTS</p>
            <p class="fw-bold">Volunteering</p>
            <ul>
                <li class="mb-1">
                    <i>Coding Mentor —</i> Tech Journeys Code Camps (Annual)
                </li>
                <li class="mb-1">
                    <i>Technology Coordinator —</i> Pella Brazilian Jiu Jitsu (2021-Present)
                </li>
                <li class="mb-1">
                    <i>PC Refurbishment Volunteer —</i> Computers 2 Kids (2019-2020)
                </li>
            </ul>

            <p class="fw-bold">Personal Projects</p>
            <ul>
                <li class="mb-1">
                    Building a responsive portfolio site focused on component-driven design for Sideline Productions using Vue.js.
                </li>
                <li class="mb-1">
                    Designed and maintain the official site for Double Dutch Gymnastics using HTML, CSS, and Bootstrap to deliver a reliable desktop and mobile user experience with intuitive navigation.
                </li>
            </ul>
          </div>

            <div class="col-md-4 fs-8">
              <div class="contact-info">
                <p><i class="fas fa-envelope"></i> a.a.robbins@outlook.com</p>
                <p><i class="fas fa-phone"></i> 319-360-2649</p>
                <p><i class="fab fa-linkedin"></i> linkedin.com/in/ashley-a-robbins</p>
                <p><i class="fab fa-github"></i> github.com/a-a-robbins</p>
            </div>

            <div class="eduction">
                <p class="fw-bold pt-5">EDUCATION</p>
                <p class="fw-bold m-0">Bachelor of Arts - Computer Science</p>
                <p class="fst-italic m-0">Central College</p>
                <p>GPA: 3.8 | President, Computer Science Club | Alpha Zeta Mu</p>

                <p class="fw-bold m-0">Associate of Science - Human & Social Sciences</p>
                <p class="fst-italic m-0">SUNY Jefferson</p>
                <p>GPA: 3.5</p>

                <p class="fw-bold m-0">Certifications</p>
                <ul class="list-unstyled">
                    <li class="mb-1">Foundational C# - <i>freeCodeCamp, 2024</i></li>
                    <li class="mb-1">Visual & Vector Design - <i>San Diego College of Continuing Education, 2020</i>
                    </li>
                    <li class="mb-1">IT Security, Hardware & System Administration<i>San Diego College of Continuing
                            Education, 2019</i></li>
                </ul>
            </div>

            <div class="skillz">
                <p class="fw-bold pt-5">SKILLS</p>
                <p class="fw-bold mb-0">Languages & Frameworks</p>
                <p>C# | .NET | Typescript | HTML | CSS | Angular | Bootstrap</p>
                <p class="fw-bold mb-0">Database</p>
                <p>Entity Framework | Dapper | SQL | Flyway</p>
                <p class="fw-bold mb-0">Cloud & DevOps</p>
                <p>Azure | GitHub | Terraform</p>
                <p class="fw-bold mb-0">Development Practices</p>
                <p>Test Driven Development | CI/CD | Agile | XP</p>
            </div>

            </div>

      </div>


    </body>

  </div>

</main>

<footer>

</footer>
