
<main>
  <h1 class = "text-center page-title">Photojournal</h1>

<!--  courtesy of Nico on CodePen: https://codepen.io/nicokoenig -->
  <div class = "container photo-carousel">

    <div class = "badlands-more" id = "badlands-more">
      <h4 class = "message-title">Badlands, SD</h4>
      <p class = "message-text">
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
        This is a bunch of awesome stuff about my time in the Badlands.
      </p>
    </div>


    <div class = "moab-more" id = "moab-more">
      <h4 class = "message-title">Moab, UT</h4>
      <p class = "message-text">
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
        This is a bunch of awesome stuff about my time in Moab.
      </p>
    </div>

    <div class = "san-diego-more" id = "san-diego-more">
      <h4 class = "message-title">San Diego, CA</h4>
      <p class = "message-text">
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
        This is a bunch of awesome stuff about my time in SD.
      </p>
    </div>

    <div class = "sequim-more" id = "sequim-more">
      <h4 class = "message-title">Sequim, WA</h4>
      <p class = "message-text">
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
        This is a bunch of awesome stuff about my time on the OP.
      </p>
    </div>

    <div class="card-container">

      <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/berlin.jpg'); --angle: -5deg; --x: 5%; --y: 15%;">
          <button type = "button" class = "san-diego-info"  id = "san-diego-info" (click) = "sanDiegoInfo()">San Diego, 2016</button>
      </div>


      <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/london.jpg'); --angle: -1deg; --x: -10%; --y: -20%;">
        <button type = "button" class = "sequim-info" id = "sequim-info" (click) = "sequimInfo()">Sequim, 2018</button>
      </div>

      <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/los-angeles.jpg'); --angle: -4deg; --x: -20%; --y: 5%;">
        <button type = "button" class = "badlands-info" id = "badlands-info" (click) = "badlandsInfo()">Badlands, 2015</button>
      </div>

      <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/italy.jpg'); --angle: 7deg; --x: 10%; --y: -7%;">
        <button type = "button" class = "moab-info" id = "moab-info" (click) = "moabInfo()">Moab, 2015</button>
      </div>

    </div>
  </div>
</main>
