<header>
  <app-navbar></app-navbar>
</header>

<main>
  <h1 class = "text-center page-title">About Me</h1>
  <div class = "container map-background">

    <div class = "sprite">
      <img class = "sprite" src = "../../assets/images/sprites/walk2.png">
    </div>

    <div class="mountain">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
    <div class="mountain-two">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
    <div class="mountain-three">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>

    <div class="palm-tree-one">
      <div class="palm-tree-top">
        <div class="palm-leaf-1"></div>
        <div class="palm-leaf-2"></div>
        <div class="palm-leaf-3"></div>
        <div class="palm-leaf-4"></div>
      </div>
      <div class = "palm-tree-bottom"></div>
    </div>

    <div class="palm-tree-two">
      <div class="palm-tree-top">
        <div class="palm-leaf-1"></div>
        <div class="palm-leaf-2"></div>
        <div class="palm-leaf-3"></div>
        <div class="palm-leaf-4"></div>
      </div>
      <div class = "palm-tree-bottom"></div>
    </div>

    <div class="palm-tree-three">
      <div class="palm-tree-top">
        <div class="palm-leaf-1"></div>
        <div class="palm-leaf-2"></div>
        <div class="palm-leaf-3"></div>
        <div class="palm-leaf-4"></div>
      </div>
      <div class = "palm-tree-bottom"></div>
    </div>

    <div class = "corn-stalk"></div>
  </div>

  <div class = "background">
    <img src = "../../assets/images/about/expedition-map.svg">
  </div>

</main>
