<header>
  <h1 class = "text-center page-title">About Me</h1>
</header>

<main>

  <div class = "container map-background" id = "map-background">
    <div class = "background-color"></div>
    <div class = "palm-path-vertical"></div>
    <div class = "palm-path-horizontal"></div>
    <div class = "mountain-path-vertical"></div>
    <div class = "mountain-path-horizontal"></div>
    <div class = "corn-path-vertical"></div>
    <div class = "corn-path-horizontal"></div>


    <div class = "sprite" id = "sprite">
      <img class = "sprite-image" src = "../../assets/images/about/adventure-girl.png">
    </div>

    <div class = "star">
      <img class = "star-image" src = "../../assets/images/about/star.png">
    </div>

    <div class = "palm-target">
      <button
        type = "button"
        class = "palm-button"
        (click) = "palmAnimation()" >
      </button>
      <img class = "palm-image" src = "../../assets/images/about/palm-tree.png">
    </div>

    <div class = "mountain-target">
      <button type = "button" class = "mountain-button" (click)= "mountainAnimation()"></button>
      <img class = "mountain-image" src = "../../assets/images/about/mountain-transparent-23.png">
    </div>

    <div class = "corn-target">
      <button type = "button" class = "corn-button" (click) = "cornAnimation()"></button>
      <img class = "corn-image" src = "../../assets/images/about/corn-stalk-clipart-md.png">
    </div>

  </div>


</main>
