/* You can add global styles to this file, and also import other style files */
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

body {
  //background-color: lightcyan;
  //background-color: darkslateblue;
  //background-image: linear-gradient(to right, darkslateblue , hotpink);
  background-image: radial-gradient(hotpink, darkslateblue);

}

h1, h2, h3, h4, p {
  color: ivory;
}

.page-title {
  padding: 1rem;
}

