<header>
  <app-navbar></app-navbar>
</header>

<main>
  <!--  Title-->
  <h1 class = "text-center page-title">Creative Collection</h1>
  <!--  Title-->

<div class = "container creative-collection">
  <div class = "row">
    <div class = "container creative-collection-explanation">
      <p>some stuff about what this page is. some stuff about what this page is. some stuff about what this page is. some stuff about what this
        page is. some stuff about what this page is. some stuff about what this page is. some stuff about what this page is. some stuff about what
        this page is.</p>
    </div>
  </div>
  <div class = "row">
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <a href = "/creative-collection/photojournal">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
        <div class = "project">
          <h4 class = "project-title text-center">Photojournal</h4>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <a href = "/creative-collection/musings">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
        <div class = "project">
          <h4 class = "project-title text-center">Musings</h4>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
      <a href = "/creative-collection/visual-art">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
        <div class = "project">
          <h4 class = "project-title text-center">Visual Art</h4>
        </div>
      </a>
    </div>
  </div>
</div>

</main>
